
:root{   
    --checkVideo:0.5;
    --checkImagen: 0.5;    
    --checkMusic: 0.5;       
}
#sinResultados{
    display: none;
}
#cuadro-Busqueda{
    width: auto;
    height: auto;
    background: #f2f2f200;    
}
#cuadro-Contenido:hover{
    background: #ffffffc7;
}
/*Probando con cards*/
#cuadro-Contenido{   
    position: relative;
    background: rgba(148, 148, 148,0.5); 
    width: auto;
    height: auto; 
    z-index: 0;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
}
#reproductor-embebido { 
    position: absolute;      
    width: 100%;
    height: 80px; 
    /* opacity: 0.8;  */
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
#imagen-Principal {       
    width: 100%;
    height: 100%; 
    opacity: 0.8; 
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
#cuadro-Contenido:hover > #imagen-Principal{
    opacity: 1; 
}
#cuadro-Contenido:hover >#boton-agregarImg2{
    display: block;
}
#cuadro-Contenido:hover >#icono-Pagina{
    display: block;
}
#cuadro-Contenido:hover #icono-Video  {
    display: block;
}
#cuadro-Contenido:hover >#icono-Musica  {
    display: block;
}
#boton-agregarImg2{ 
    display:none;
    position: absolute;  
    right: 2%;
    bottom: 2%;
    top:auto;
    z-index: 5; 
}
#cargando-Busquedas{
    display: none;
    position: absolute;    
   
    background: url("../image/loading.gif")no-repeat;
    background-size:10%;
    left: 50%;
    top: 80%;     
    width: 50%;
    height: 10%; 
    z-index: 6;
}
#icono-Pagina {
    display: none;
    position: absolute;  
    left:  2%;
    bottom: 2%;
    z-index: 8;
    -webkit-user-drag: none;
    user-drag: none;
    opacity: 0.5;
}
#icono-Pagina:hover{
    opacity: 1;
}
#icono-Video{
    display: none;
    position: absolute;  
    left:  35%;
    opacity: 0.5;
    bottom: 35%;
    z-index: 8;
    -webkit-user-drag: none;
    user-drag: none;
}
#icono-Musica {
    display: none;
    position: absolute;  
    left:  35%;
    opacity: 0.5;
    bottom: 35%;
    
    -webkit-user-drag: none;
    user-drag: none;
}

.secciones{    
    position: flex;
    margin-left:0;
    padding: 0;
    margin-right: 0;
    margin-top:auto;
}
.checkBusqueda { 
  width: 60px;
  height: 50px;  
  opacity: 0.5;
}

.checkBusqueda:hover {
    cursor: pointer;
}

.seccion_youtube{
  background-repeat: no-repeat;
  background-image: url("../image/logo-youtube.png");   
  background-position: left center;  
  background-size: 58px; 
}
.seccion_spotify{
    background-repeat: no-repeat;
    background-image: url("../image/spotify-logo.png");   
    background-position: left center;  
    background-size: 50px; 
}
.seccion_instagram{
    background-repeat: no-repeat;
    background-image: url("../image/instagramLogo.png");   
    background-position: left center;  
    background-size: 55px; 
}

#checkYoutube:checked + .checkBusqueda {
    opacity: 1;  
}
#checkSpotify:checked + .checkBusqueda {
    opacity: 1;  
}
#checkInstagram:checked + .checkBusqueda {
    opacity: 1;  
}

#checkYoutube,#checkSpotify,#checkInstagram {
   display: none;
}

