*{
    margin: 0;
    padding: 0;    
    font-family: rale;
    
}
/*Cabecera de la pagina*/
/*#marca*/
header{    
    background: #2e2e2e;
    width: 100%;
    height: 50px;    
    color:fff;    
}         

    .responsiveMenu,
    .buscadorInferior,
    .buscadorInferior #searchform,
    .buscadorInferior #barra-Navegacion,
    .buscadorInferior #botonBusqueda,
    .opcionesInferior,
    .opcionesInferior li 
    
    {
        display:none;
    }
    
    .titulo{
        width: 150px;
        height: 50px;
        float: left;
        padding-top: 6px;
        box-sizing: border-box;
        letter-spacing: 1px;    
    }
    @font-face{ 
        font-family: rale;
        src: url(../fonts/Raleway-Regular.ttf);
    } 
    .titulo p{
        color: #f0f0f0;    /*COLOR DEL TITULO*/    
        font-size: 25px;
        text-decoration: none;
        font-family: rale;        
    } 

    .logo,.perfil_Mini{
        position: relative;
        left: 10%;       
        max-width: 50px;
        margin-right: 50px;
        height: auto;

    }
    .perfil_Mini{    
    border-radius:150px;
    border:1px solid #666;    
    }    

    .opciones{ /*Contenedor de opciones*/
       overflow: hidden;
       list-style: none;        
       width: 30%;    
       height: 50px;              
    }
    .opciones li{
        margin: 15px;
        float: right;              
    }
    .opciones li a{
        color: #f2f2f2; /*COLOR DE LAS OPCIONES*/ 
       text-decoration: none;
       
    }    
    
    .opciones_Perfil{
        margin-right: 30px;
    }
    .opciones_Perfil span{             
        text-decoration: none;
        margin-right: 25px;
        margin-left: 25px;
        color: rgb(204, 203, 203);  
        font-family: rale;  
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;    
        display: inline-block;
        padding: 22px 0px;
        text-align: center;
        max-width:  220px;
        width: auto;
        height: auto;        
        box-shadow: 0px 3px 0px  #85271c00;
        
    }
    .opciones_Perfil span:hover{
        color: #ffffff;
    }    
    .opciones li a:hover{
        color: rgb(187, 187, 187);        
    }
    .opciones li a:active{
        color: white;       
    }
    
/*Barra*/
.buscador{
    width: 50%;
    height: 50px;          
}
#searchform{    
    display: flex;    
    width: 100%;
    height: 50px;
}
#barra-Navegacion{
    margin-top: 4px;
    height: 80%;    
    width: 85%;
}
#botonBusqueda{
    position: fixed;
    color: #939393;      /*COLOR DEL BOTON DE BUSCAR*/  
    outline:none;
    background: #ff4d4d00;
    border:none;        
    font-size: 25px; 
    margin-left: 38%;
    margin-top: 10px;  
    width: 5%; 
    height: auto;
}
#botonBusqueda:active{    
    color: #5c5c5c;     /*COLOR AL PRESIONAR EL BOTON DE BUSCAR*/   
}
/*Fin barra*/

    

/*Cuerpo de la pagina*/
#cuerpo{
    padding-top: 70px;
}

body{    
    background: #dadada;  /*cOLOR DE FONDO DE LA PAGINA*/ 
}
#titulo-Seccion{
    font-size: 20px;
}
#particles-js{
    position: relative;
    margin-top: 50px;
    color: white;
    background: #271d2e;
    width: 100%;
    height: 150px;
}
#particles-js p{
    position: absolute;
    font-size: 30px;
    color: #dadada;
    margin-top: 10px; 
}


  
/*Fondo del centro*/



/*------------------------Estilo del login modal----------------------------------------------*/
.modal{
    display: none;
}
.modal-content{
    max-width: 400px;
    height: auto;
    margin: auto;
    top:25px;
    background: #202020;
    padding: 10px;
    color: white;
    font-family: rale;
    border-radius: 15px;
}
.modal:target{
    position: fixed;
    background: #00000049;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-header1 {
    color: white;
    font-size: 50px;
    margin-top: 30px;
    font-weight: bold;
    font-family: rale;
    
}
.modal-letters{
    font-size: 12px;
}
.modal-logo{
    display: inline-block; 
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    top:-50%;
    padding-bottom: 20px;
        
}
.modal-form{
    padding: 16px;
}
 input[type=text].modal-input, input[type=password].modal-input {
    background-color: #101010;
    color: white;
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0;
    display: inline-block;
    border: 2px solid #101010;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
}
input[type=email].modal-input-registro,input[type=text].modal-input-registro, input[type=password].modal-input-registro {
    background-color: #101010;
    color: white;
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #101010;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
}
button.modal-button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 18px;
    margin: 20px 0;
    border: 2px #ff4d4d;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}
button.cancelbtnModal {
    width: 50%;
    padding: 10px 18px;
    border: 2px #ff4d4d;
    border-radius: 5px;
    background-color: #ff4d4d;
}

button.modal-button:hover {
    opacity: 0.8;
}

button.modal-button:active {
    color: #4b0a0a;
    background: #d82727;
}

.modal-footer a{
    vertical-align: text-top;
    color:#f76c6c;
}

span.modal-forgotPass {
    float: right;
    padding-top: 30px;
   }
/*------------------------Estilo del login modal----------------------------------------------*/

/*Media Index --------------------------------------------------------------------------------*/
@media (max-width: 48em) { 
    
    .opciones{ /*Contenedor de opciones*/       
       display: none; 
     }      
     .buscador{
         display: none;
     }
     #cabeceraTitulo{        
         height:100%;
         width: 105%;       
     }
     .titulo p{
        font-size: 25px;
     }
     .titulo {  
       width: 180px;
       height: auto;      
    }
    /*Menu Responsive*/
    .responsiveMenu{
        display:inline-flex;
        width: 50%;        
        margin-right: 0;
    }

    .navegacion1{   
        padding: 5px ;    
        position: relative;
        margin-left: 50%;
        width: 25%;         
    }
    .navegacion1 li{
        list-style: none;
    }
    .navegacion1 span:active{
        color: rgb(169, 169, 169);
    }

    .navegacion2{  
        padding: 5px ;       
        position:relative;        
        width: 25%;        
    }    
    .navegacion2 span:active{       
        color: rgb(169, 169, 169);        
    }
    
    
    .navegacion1 span,.navegacion2 span{
        margin-top: -15px;
        color: white;
        font-size: 40px; 
    }
   
    /*Menu Responsive*/

    /*Opciones de la barra desplegable*/
    .opcionesInferior{         
        list-style: none;          
    }
    .opcionesInferior li{ 
        display:flex;
        background: #2e2e2e;       
    }
    .opcionesInferior li a{       
        width: 100%;
        color: rgb(221, 221, 221);
        text-decoration: none;
        font-size: 20px;
    }  
    .opcionesInferior li a:hover{       
        color: #5c5c5c;
    }  
    /*Opciones de la barra desplegable*/

    /*Buscador de la barra desplegable*/
    .buscadorInferior{       
        background: #2e2e2e;
        width: 100%;
        height: 60px;
    }
    
    .buscadorInferior #searchform{ 
        display:flex; 
        margin-left: 10px;       
    }
    .buscadorInferior #barra-Navegacion{
        display:flex;  
       margin-top: 10px;      
       width: 95%;
       
    }
    .buscadorInferior #botonBusqueda{
        display:flex; 
        margin-top: 15px;        
        margin-left: 85%;
        
    }
    /*Buscador de la barra desplegable*/
    
}
@media (max-width: 35em) {
    .buscadorInferior #botonBusqueda{        
        margin-left: 80%;
    } 
    .navegacion1{        
        margin-left: 40%;
        padding-right: 50px ; 
    }
}
@media (max-width: 24em) {
    .responsiveMenu{      
       width: 35%;
    }
    .titulo { 
        width: 150px;
     }
     .navegacion2{ 
         margin-top: 5px;          
        margin-left:-10%;      
    }
    .navegacion1{   
        margin-top: 5px; 
        margin-left:-5%; 
    }
     .navegacion1 span,.navegacion2 span{ 
        font-size: 30px; 
    }
    .buscadorInferior #botonBusqueda{        
        margin-left: 70%;
    }  
}