*{
    margin: 0;
    padding: 0;    
    font-family: Arial;
}
/*Cabecera de la pagina*/

header{
    
    width: 100%;
    height: auto;
    background: #0c0c0c;
    color:white;   
}  
        
    .titulo{
        width: 70%;
        height: auto;
        float: left;
        padding-top: 5px;
        box-sizing: border-box;
        letter-spacing: 1px;   
              
    }

    .titulo p{
        color: #d85656;
        font-size: 30px;
        text-decoration: none;
        font-family: rale;
        margin-left: 20%;
    }
    .logo{
        float: left;
        margin-right: 10%;
    }
    .logo,.perfil_Mini{
        position: relative;
        left: 10%;       
        max-width: 50px;
        height: auto;
    }
    .perfil_Mini{    
    border-radius:150px;
    border:1px solid #666;
    }
    
    
    .opciones a{             
        text-decoration: none;        
        color: white;        
        display: inline-block;        
        margin: 5%;       
        padding: 15px 10px;
        text-align: center;
        max-width:  220px;        
        width: 100%;
        height: auto;
        box-shadow: 0px 3px 0px  #85271c00;
        
        
    }
    .opciones_Perfil{
        margin-left: -4%;
    }
    .opciones_Perfil span{             
        text-decoration: none;        
        color: white;        
        display: inline-block;        
        margin: 0px;       
        padding: 10px 0px;
        text-align: center;
        max-width:  150px;        
        width: 100%;
        height: auto;        
        box-shadow: 0px 3px 0px  #85271c00;
        
    }
    .opciones_Perfil span:hover{
        color: #d85656;
        background: #050505;
    }
    .opciones_Perfil span:active{
        color: #863636;
    }

    .opciones a:hover{
        color: #d85656;
        background: #050505;
        box-shadow: 0px 2px 0px  #cf5346;
    }
    .opciones a:active{
        color: #863636;
        box-shadow: 0px 2px 0px  #863636;
    }
    

    

/*Cuerpo de la pagina*/
nav{
    background: #131313; 
}

body{      
    background: #242424;   
}

/*Barra*/
#searchform {
    width: 280px;
    height:30px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding: 1px;
    margin: 5px auto;    
    background: #ffffff00;
    border-radius: 4px;
   
}
#barraBusqueda {  
  width:300px;
  height: 30px;
  background: #ebebeb;
  border: none;
  font-size: 10pt;
  float: left;
  color: #181818;
  padding-left: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input[type=submit]{
    display: none ;
}
input[type = submit] + label {    
  position: absolute;
  margin-left: -293px; 
  margin-top: 2px;   
  height:25px;
  width:25px;  
  background-color: transparent;
}   
#botonBusqueda + label{
    background: url("../image/iconSearch.png") no-repeat ;    
    background-size: 25px 25px;
}
#botonBusqueda + label:hover{
    background: url("../image/iconSearchHover.png") no-repeat ;
    background-size: 25px 25px;
}
#botonBusqueda + label:active{
    background: url("../image/iconSearchAction.png") no-repeat ;
    background-size: 25px 25px;
}

/*Fin de barra*/

/*Filtros*/
    .check{
        display: none;            
    }
    input[type=checkbox] + label{ 
        margin: -5px 10px 10px 10px;
        height: 35px;
        width: 35px;
        padding: 0 0 0 0px;
        display:inline-block;
    }
                                    /*imagen filtro*/
    input[id=fotoCheck] + label {
        background: url("../image/fotoCheckOff.png") no-repeat;        
        background-size: 100%;
    }
    input[id=fotoCheck]:checked + label  {
        background: url("../image/fotoCheck.png") no-repeat;        
        background-size: 100%;   
    }
    /*Fin de imagen filtro*/

                                    /*MUSICA FILTRO*/
    input[id=musicCheck] + label {
        background: url("../image/musicaCheckOff.png") no-repeat;        
        background-size: 100%;
    }
    input[id=musicCheck]:checked + label  {
        background: url("../image/musicaCheck.png") no-repeat;        
        background-size: 100%;    
    }
    /*Fin de musica filtro*/
                                    /*Videos filtro*/
    input[id=videoCheck] + label {
        background: url("../image/videoCheckOff.png") no-repeat;        
        background-size: 100%;
    }
    input[id=videoCheck]:checked + label  {
        background: url("../image/videoCheck.png") no-repeat;        
        background-size: 100%;    
    }
    /*Fin videos filtro*/

/*Fin de filtros*/


  
/*Fondo del centro*/
.main{
    color:white;
    background: #131313;
}

.sub{
    color:white;
    background: #131313;
}
.imagenPrueba img{
    width: 45%;   
    float: left; 
}
.imagenPrueba{    
    color:white;    
    
}
.tituloImagenPrueba{
    vertical-align: text-top;
    font-size: 15px;
}
.infoImagenPrueba{
    vertical-align: middle;
    font-size: 12px;
}

/*------------------------Estilo del login modal----------------------------------------------*/
.modal{
    display: none;
}
.modal-content{
    max-width: 400px;
    height: auto;
    margin: auto;
    top:25px;
    background: #202020;
    padding: 10px;
    color: white;
    border-radius: 15px;
}
.modal:target{
    position: fixed;
    background: #00000049;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-header {
    color: white;
    text-align: center;
    margin: 30px 0 10px 0;
}
.modal-letters{
    font-size: 12px;
}
.modal-logo{
    display: inline-block; 
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    top:-50%;
    padding-bottom: 20px;
        
}
.modal-form{
    padding: 16px;
}
 input[type=text].modal-input, input[type=password].modal-input {
    background-color: #101010;
    color: white;
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0;
    display: inline-block;
    border: 2px solid #101010;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

input[type=email].modal-input-registro,input[type=text].modal-input-registro, input[type=password].modal-input-registro {
    background-color: #101010;
    color: white;
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #101010;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
}



button.modal-button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 18px;
    margin: 20px 0;
    border: 2px #ff4d4d;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}
button.cancelbtnModal {
    width: 50%;
    padding: 10px 18px;
    border: 2px #ff4d4d;
    border-radius: 5px;
    background-color: #ff4d4d;
}

button.modal-button:hover {
    opacity: 0.8;
}

button.modal-button:active {
    color: #4b0a0a;
    background: #d82727;
}

.modal-footer a{
    vertical-align: text-top;
    color:#f76c6c;
}

span.modal-forgotPass {
    float: right;
    padding-top: 30px;
   }
/*------------------------Estilo del login modal----------------------------------------------*/
/*Media*/
@media (max-width: 20em) {
    .logo {
        margin-left: 55%;       
        margin-right: auto;
    }
    .titulo {
        display: block;
        margin-left:auto;
        margin-right: auto; 
       text-align: center;        
    }
    
    .opciones a{ 
                   
        text-decoration: none;        
        color: white;        
        display: inline-block;        
        margin: 0%;       
        padding: 0px 0px;
        text-align: center;
        max-width:  220px;        
        width: 50%;
        height: auto;
        box-shadow: 0px 3px 0px  #85271c00;
        
        
    }
    
}