*{
	padding: 0;
	margin: 0;
}

.c-white{
	background-color: #fff;
}

.c-black{
	background-color: black;
}

body{
	background: #242424;
	line-height: 1.2;
	font-family: rale;
}

.header{
	width: 100%;
	background: black;
	height: 70px;
	
}

.ancho{
	width: 80%;
	height: 70px;
	margin: auto;
}

.logo{
	width: 40%;
	height: 70px;
	float: left;
	padding-top: 5px;
	box-sizing: border-box;
	letter-spacing: 1px;
}



@media (max-width: 50em) {
    .logo {
		width: 40%;
		
	}
	.inicioPerfil {
		width: auto;
		
	}
	.salirPerfil {
		width: auto;
		
	}
	.ancho{
		width: 90%;
	}
}

@media (max-width: 43em) {
    .logo {
		width: 40%;
		
	}
	.nav{
		width: 40%;
	}
	 
	.nav ul{

	}
	.inicioPerfil {
		
		margin-left: 1px;
		
	}
	.salirPerfil {
		
		margin-left: 1px;
		
	}
	.ancho{
		width: 95%;
	}
}



.logo p a{
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	font-family: rale;

}

.logo1 {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	font-family: rale;
	box-sizing: border-box;
	letter-spacing: 1px;
}



nav{
	width: 60%;
	height: 70px;
	float: right;
	text-align: right;
	padding-top: 24px;
	box-sizing: border-box;
	
}



body{
	background: #242424;
}

nav ul li{
	display: inline;
}

nav ul li a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 30px;
	font-weight: bold; 
	letter-spacing: 1px;
	font-family: rale; 
}
nav ul li a:hover{
	color: #444;
}

@font-face{ 
	font-family: rale;
	src: url(../fonts/Raleway-Regular.ttf);
}

.head{
	width: 10%;
	color: #fff;
	font-family: rale;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
}

.box{
	top: 15px;
	margin: auto;
	bottom: 10px;
}

.cuerpo{
	width: 75%;
	margin: auto;
	padding-top: 70px;
}

.repro{
	height: 100px;
	background: black;
}

.columnas{
	width: 40%;
	height: auto;
	margin: auto;
	float: left;
}

.head2{
	width: 10%;
	color: #fff;
	font-family: rale;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	margin:40px 0 0 0;
}

.friendBox{
	padding-top: 10px;
}

#friends{
	float: left;
}

#izquierdo{
	float: left;
}

#derecho{
	float: left;
}

#derecho1{
	padding-top: 10px;
	margin-top: 30px;
}

@media (min-width: 20em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 40em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
 
/*Media de los amigos*/
@media (min-width: 20em) {
    #users {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
	}
	#users2 {
		column-count: 1;
	}
}

@media (min-width: 34em) {
    #users {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
	}
	#users2 {
		column-count: 2;
	}
}

@media (min-width: 40em) {
    #users {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 3;
	}
	#users2 {
		column-count: 2;
	}
}

@media (min-width: 62em) {
    #users {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 3;
	}
	#users2 {
		column-count: 2;
	}
}

@media (min-width: 75em) {
    #users {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 3;
	}
	#users2 {
		column-count: 2;
	}
}

#name h3{
	font-family: rale;
	font-size: 14px;
}

#since h5{
	font-family: rale;
	font-size: 9px;
	font-weight: lighter;
}



