

.reproductor{    
    height: 25%;
    background: rgba(157, 104, 206, 0.337);
    transition: height 0.2s;
   
}

#widget{
    background: #d3d3d30e;
}
.reproductor-audio{
    top: 8px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.645); 
    height: 64px;
    transition: all 1s;
    box-shadow: 0 0 20px rgba(91, 255, 170, 0.666);
}

.icon-play3,.icon-pause2{
    color: rgb(255, 184, 98); 
    font-size: 50px;
    margin-top:5px; 
}
.icon-pause2{  
     display: none;
}

.slidecontainer {
    padding:10px;
    margin-top:5px;
    width: 100%; /* Width of the outside container */
}

.volumen-icono{
    color: rgb(255, 184, 98); font-size: 60px;
}
.duracion{
    text-shadow: 0 0 30px rgba(151, 255, 233, 0.529);
    color: rgb(114, 221, 175);
     font-size: 30px;
}

/* The slider itself */
#volumen{
    margin-top:5px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 0%; /* Full-width */
    height: 40%; /* Specified height */
    background: #505050; /* Grey background */
    outline: none; /* Remove outline */  
    border-radius: 10px;
    transition: width 1s;
    
}
#volumen::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(192, 128, 255); /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    
}

a.icon-volume-high.volumen-icono,
a.icon-volume-medium.volumen-icono,
a.icon-volume-low.volumen-icono,
a.icon-volume-mute.volumen-icono,
a.icon-volume-mute2.volumen-icono,
a.icon-play3.play,
a.icon-pause2.pause{
    color:white;
} 

a.icon-volume-high.volumen-icono:hover,
a.icon-volume-medium.volumen-icono:hover,
a.icon-volume-low.volumen-icono:hover,
a.icon-volume-mute.volumen-icono:hover,
a.icon-volume-mute2.volumen-icono:hover,
a.icon-play3.play:hover,
a.icon-pause2.pause:hover{
    color:rgb(149, 102, 196);
    text-shadow: 0 0 30px rgba(255, 76, 234, 0.378);
}


/* Mouse-over effects */
#myRange {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 95%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    border-radius: 10px;
    outline: none; /* Remove outline */   
}

#myRange::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: rgb(34, 34, 34); /* Green background */
    border-radius: 100%;   
    cursor: pointer; /* Cursor on hover */
}


    input[type='range'] {
       overflow:hidden;
      width: 100%;
      -webkit-appearance: none;
     
    }    
    #myRange::-webkit-slider-runnable-track {
      height: 32px;         
     
    }
    
    input[type='range']::-webkit-slider-thumb {
      
      box-shadow: -505px -15px 0 500px #e16c6c;
      
    }

