  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  color: #f1f1f1;
  border: 2px solid #101010;
  border-radius: 5px;
  background: #101010;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #101010;
  border-radius: 5px;
  border: 2px solid #101010;
  outline: none;
}

hr {
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  background-color: #ff4d4d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #ff4d4d;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.imgcontainer {
  text-align: center;
  margin: 30px 0 10px 0;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding-left: auto;
  background-color: #ff4d4d;
}


.container {
  padding: 16px;
}

img.logo {
  width: 40%;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
